h1{
    text-align: center;
    color:aliceblue;
    text-shadow: 10px;
    font-size: 50px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
    width:100vw;
    height: 100vh;
    grid-template-columns: repeat(3,auto);
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    height: 75px;
    width: 75px;
    border: 1px inset;
    border-radius: 25px;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    color:black;
    text-shadow: 5px;
    background-color: azure;
}
button:hover{
    background-color: cornsilk;
    cursor: pointer;
}
.result-conatiner{
    background-color: ghostwhite;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:200px;
}
.result{
    background-color: aliceblue;
    text-shadow: 2px;
    font-size: 25px;
}
#reset{
    border: 1px solid black;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#reset:hover{
    background-color: black;
    color:aliceblue;
}
