h1{
    text-align: center;
    color:aliceblue;
    text-shadow: 10px;
    font-size: 50px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    height: 75px;
    width: 75px;
    border: 1px inset;
    border-radius: 25px;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    color:black;
    text-shadow: 5px;
    background-color: azure;
}
button:hover{
    background-color: cornsilk;
    cursor: pointer;
}